/* GENERAL STYLES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: url(./assets/img/background.jpg) no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}


/* CONTAINER STYLES */

.jokeContainer {
    width: 32%;   
    min-height: auto;    
    padding: 40px;
    flex-wrap: wrap;       
}


/* BUTTON STYYLES */

.btn {
    width: auto;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    color: white;
}


/* ICONS */

.icon-emoji {
    width:  60px;
    height: 60px;
    cursor: pointer;
}


/* MEDIA QUERY */

@media only screen and (max-width:768px){

    body {        
        min-height: 110vh;
    }

   
    .jokeContainer {
        width: auto;
        margin-top: 150px;   
        min-height: auto;    
        padding: 20px;
        flex-wrap: wrap;       
    }

    .headingText {
        font-size: 30px;
    }
    
    .jokeText {
        font-size: 15px;
    }

    .icon-emoji {
        width:  30px;
        height: 30px;
    }

    .icons {
        margin-top: 5px;
    }   

}

@media only screen and (max-width:1200px){

    body {        
        min-height: 110vh;
    }

   
    .jokeContainer {
        width: 60%;
        margin-top: 50px;   
        min-height: auto;    
        padding: 20px;
        flex-wrap: wrap;       
    }

    .headingText {
        font-size: 40px;
    }
    
    .jokeText {
        font-size: 25px;
    }

    .icon-emoji {
        width:  40px;
        height: 40px;
    }

    .icons {
        margin-top: 5px;
    }   

}
